@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    scroll-padding-top: 10vh;
}

html, body{
    min-height: 100vh;
}

html{
    background-color: #575d74;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    flex: 1;
}

header{
    width: 100%;
    background-color: #2B3149;
    height: 10vh;
    padding: 15px;
    align-items: left;
    position: fixed;
    z-index: 10;
    border-bottom: #ffb650 6px solid;
  
}

h2{
    text-align: center;
    font-weight: normal;
    font-size: 40px;
}

h2{
    color: white;
}

main{
    display: flex;
    top: 10vh;
}

#navegacion {
    width: 27%;
    top: 10vh;
    position: fixed;
    height: 100vh;
    text-align: center;
    left: 0;
    margin-right: 10px;
    background-color: #fafcf7;
    border-right: 6px solid #ffb650;
    color: white;

}
#navegacion img{
    width: 70%;
    height: auto;
    padding: 10px;
    margin-top: 20px;
}

#navegacion img:hover{
    width: 75%;
    height: auto;
    padding: 10px;
}

#navegacion ul{
    list-style: none;
}

#navegacion li:nth-child(2n+1){
    font-size: 35px;
    color: #9c5d05;
}



a:link {
    color: #000000; 
    text-decoration: none;
}

a:visited {
    color: #04182b; 
    text-decoration: none;
}

a:hover {
    color: #9c5d05; 
    text-decoration: underline;
}

a:active {
    color: #ff9500; 
}



section{
    background-color:#e8ecfd ;
    width: 60%;
    padding: 20px;
    position: relative;
    left: auto;
    top: auto;
    margin-left: 33%;
    z-index: 1;
    border-radius: 15px;
    box-shadow: -2px -2px 30px rgb(75, 73, 73);
    line-height: 1.4;
    flex: 1;
}

#inicio{
    text-align: center;
    padding-top: 10vh;
}

#inicio img, #Actualidad img{
    width: 80%;
    height: auto;
    margin: 0 auto;
    margin-top: 20px;
}

#inicio h1{
    color: #1f2024;
    font-size: 50px;
    font-weight: 500;
}

article > p::first-letter {
    font-size: 30px;
    color: #ff9500;
    text-transform: uppercase;
   
}

p::selection{
    color: #2B3149;
}

p:first-of-type:first-line{
    text-decoration: underline;
}

section article{
    background-color: #e8ecfd;
    padding: 20px;

}

#Infancia > img{
    width: 50%;
    height: auto;
    margin: 20px 25%;
}

#Etapas{
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

#Etapas div{
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
   
}

#Etapas img{
    width: 100%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
    
}

#Actualidad div{
    text-align: center;
}

Article#Actualidad p:last-of-type{
    font-weight: bold;
}

footer {
    background-color: #1f2024;
    color: white;
    width: 73%;
    height: auto;
    padding: 10px;
    position: static;
    margin-left: 27%;
    top: 390vh;
    z-index: 5;
    text-align: center;
    left: auto;
    top: auto;
    margin-top: 30px;
}