/* IMPORTACIONES */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* ESTILO CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 10vh;
}

body {
  background-color: #fffefe;
  line-height: 1.5;
  font-family: "Noto Serif", serif;
}

/* ESTILO DEL MENU */
.menu {
  background-color: #7f3931;
  position: fixed;
  width: 100%;
  height: 10vh;
}

/* ESTILO GENERAL DEL CONTENIDO DEL MENU */
.menu>ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 50px;
  align-items: center;
  list-style: none;
  padding: 20px;
}

.menu>ul>li>a {
  color: white;
  text-decoration: none;
}

.menu>ul>li:hover {
  border-bottom: red 2.5px solid;
  font-weight: 600;
}

.menu>ul>li>ul>li {
  background-color: #fabfb8;
}

/* ESTILO GENERAL DEL ENCABEZADO */
header {
  background-image: linear-gradient(90deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.9)),
    url("../../20245337_Guia3/img/indexmain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  text-align: right;
  line-height: 28px;
  align-content: flex-end;
  top: 10vh;
  padding-bottom: 5%;
}

header h2,
header h4 {
  padding-right: 10%;
  color: #c9c5c5;
}

header h4:nth-child(4) {
  font-weight: 400;
}

header h4:nth-child(5) {
  font-weight: 400;
}

header h2 {
  padding-bottom: 3%;
  font-size: 2rem;
  font-weight: 500;
}

.enlace a {
  text-decoration: none;
  color: rgb(202, 202, 202);
  border-bottom: red 2.5px solid;
}

.enlace a:hover {
  border: none;
  color: #fff;
}

/* ESTILO DE LA  SECCION "SOBRE EL SITIO" */
#informacion {
  margin: 5% auto;
  width: 75%;
  text-align: justify;
}

span a {
  color: black;
  text-decoration: none;
  border-bottom: red 2.5px solid;
}

span a:hover {
  color: red;
  border: none;
}

#informacion h2 {
  color: black;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 40px;
}

#sitio-flex {
  display: flex;
  justify-content: space-around;
}

#sitio-flex #img {
  background-image: url("../../20245337_Guia2/img/ema.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 33%;
  height: auto;
}

#sitio-flex p {
  margin-top: 20px;
  width: 50%;
}

/* DISEÑO GENERAL DEL MAIN: CONJUNTO DE GUÍAS*/
main {
  display: flex;
  flex-direction: column;
  background-color: #7f3931;
  margin-bottom: 3%;
}


/* DISEÑO PARA CADA GUIA, LADO LATERIAL */
main .guia {
  display: flex;
  width: 100%;
  overflow: hidden;

}

.guia .caja-izquierda {
  border-right: 1px solid gray;
  color: white;
  position: relative;
  width: 6%;
  margin-right: 2%;
  padding-right: 3%;
  width: 100px;
}

.caja-izquierda:nth-child(1):hover, .caja-izquierda:nth-child(1):hover+.caja-derecha a{
  background-color: #994337;
}

.guia .caja-izquierda h2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-270deg);
  transform-origin: center;
  margin: 0;
  white-space: nowrap;
}

/* LADO DERECHO: LOS EJERCICIOS */
.guia .caja-derecha {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1%;
  justify-content: flex-start;
  align-items: flex-start;
}


.guia .caja-derecha a {
  display: block;
  color: white;
  text-decoration: none;
  width: 30%;
  padding: 1%;
  margin: 1%;
  text-align: center;
  background: linear-gradient(90deg,
      rgba(255, 51, 1, 0.2),
      rgba(226, 29, 3, 0.2));
  min-height: 150px;
    }

.guia .caja-derecha a:hover {
  background-color: #b8483c ;
  font-size: 1.04em;
  font-weight: bold;
}

/* PARTE DE AGRADECIMIENTOS */
#Agradecimientos{
  width: 60%;
  padding: 5%;
  text-align: center;
  margin: 0 auto;
}

footer{
  background-color: #7f3931;
  color: white;
  width: 100%;
  text-align: center;
  align-items: center;
  padding: 20px;
}