/* MENU */
nav {
    width: 100%;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    margin: 0px 0px 5px 0px;
}

nav ul li {
    float: left;
    margin: 0px -15px;
    padding: 10px 0px 0px 0px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}

nav ul li a{
    text-decoration: none;
    padding: .3em .5em;
    margin: 0em .5em;
    display: block;
    color: white;
    transition: color 1s, transform 3s;
}

nav ul li a:hover {
    color: #AAA;
    transform: scale(1.3);
}

/* PARTE SUPERIOR */
#encabezado {
    margin: 0px auto;
    width: 90%;
}

#superior #encabezado #logo {
    margin: 10px 0px; 
    width: 120px;
    height: auto;
}

#imgDesc img {
    width: 100%;
    height: auto;
    display: none;
}

#imgDesc {
    overflow: auto;
    width: 100%;
}

#descripcion {
    width: 100%;
}

#descripcion p {
    margin: 20px 0px 10px 0px;
    color: white;
    line-height: 140%;
    text-align: justify;
    font-size: 0.8em;

}

/* CONTENIDO PRINCIPAL DE TODAS LAS PAGINAS */
#contenido {
    width: 90%;
    margin: 0px auto;
    overflow: auto;
}

/* CONTENIDO DE LA PÃGINA IDNEX */
.plan {
    width: 92%;
    padding: 10px 2%;
    margin: 20PX 1%;
    background-color: white;
    border: solid 1px black;
    border-radius: 10px;
    text-align: justify;
}

.plan img {
    width: 100%;
    height: auto;
}

.boton {
    width: 92%;
    margin: 5px auto;
}

.plan p {
    font-size: 0.8em;
}

.plan h1 {
    font-size: 1em;
}

/* AQUI SE CORRIJIO PARA QUE ESTOS SELECTORES NO AFECREN A LA PAGINA DE GALERIA */
/* PRIMER DIV, CUARTO DIV, ... */
#contenido > div:nth-child(3n+1) {
    margin-left: 0px;
}

/* TERCER DIV, SEXTO DIV, ...*/
#contenido > div:nth-child(3n) {
    margin-right: 0px;
}

/* CONTENIDO DE LA PAGINA PLANES */
.planes {
    width: 94%;
    background: white;
    padding: 1% 3%;
}

.planes img {
    width: 100%;
    border-radius: 15px;
}

.planes h1 {
    text-align: left;
    font-size: 1.5em;
}

.planes .precio {
    font-size: 1.1em;
    margin: 20px 0px 5px;
    padding-bottom: 15px;
    border-bottom: slid 2px gray;
    font-weight: bold;
}

/* CONTENIDO DE LA PAGINA DE GALERIA */
#galeria .plan {
    font-size: 0.8em;
    padding-bottom: 10px;
    margin: 10px;
    float: none;
    text-align: center;
    width: 90%;
    font-style: italic;
}

#galeria .plan p {
    clear: both;
}

#galeria .plan img {
    width: 90%;
    height: auto;
    margin: 5px 5%;
}